#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

* {
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #202124;
}

::-webkit-scrollbar-thumb {
  background: #5f6368;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #80868b;
}
